@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    height: 100dvh;
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 50em;
    width: 50em;
    padding: 2em;
    border-radius: 1em;
    gap: 1em;
    filter: none;
}



footer {
    position: fixed;
    bottom: 1em;
}

h1{
    margin: 0;
}

.twoFields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8em;
}

.twoRadios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8em;
    position: relative;
}

.field{
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label{
    position: relative;
    top: -.5em;
}

.query{
    border: 1px solid black;
    border-radius: .5em;
    padding: .9em;
    position: relative;
    margin-bottom: .5em;
}

.queryLabel {
    margin-left: .5em;
}

.checkBoxDiv{
    display: flex;
    align-items: center;
    position: relative;
}


#queryTypeLabel{
    position: relative;
    top: .5em;
}

#emailAdress, #firstName, #lastName{
    height: 2.5em;
    font-size: 1.5em;
    border-radius: .5em;
    border: 1px solid;
    padding: .5em;
}

#emailAdress{
    border-radius: .5em;
    border: 1px solid;
    
}

#message{
    padding: .5em;
    height: 6em;
    border-radius: .5em;
    resize: none;
    border: 1px solid;
    font-size: 1.5em;
}

#submit{
    height: 3em;
    border-radius: .5em;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-size: 1em;
    font-weight: 600;
}

#submit:hover{
    background-color: hsla(169, 82%, 27%, 0.769);
}

span{
    color: hsl(169, 82%, 27%);
}

.hidden{
    display: none;
    flex-direction: column;
    height: 15em;
    width: 15em;
    background-color: antiquewhite;
    position: absolute;
    top: 34%;
    left: 43.5%;
    border-radius: 1em;
    border: .5em solid hsl(169, 82%, 27%);
    text-align: center;
    padding: 1em;
    justify-content: space-evenly;
    background-color: hsla(169, 84%, 22%, 0.775);
    color: hsl(148, 38%, 91%);

}
.hidden h2 {
    margin: 0;
}

.okay{
    background-color: hsl(169, 82%, 27%);
    border: none;
    border-radius: .5em;
    height: 2em;
    color: hsl(148, 38%, 91%);
}

.okay:hover{
    background-color: hsla(169, 82%, 27%, 0.769);
}

/* ERROR Messages */

.errorMsgFirst {
    position: absolute;
    bottom: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgLast {
    position: absolute;
    bottom: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgMsg{
    position: absolute;
    bottom: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgQuery{
    position: absolute;
    bottom: -1em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgMail{
    position: absolute;
    bottom: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgCheck{
    position: absolute;
    bottom: -1.5em;
    color: red;
    font-size: 0.75em;
    display: none;
}


/* Footer */

.attribution{
    color: hsl(169, 82%, 27%);
}

.attribution a{
    text-decoration: none;
}

@media (max-width: 600px) {
    body{
        margin: 4em;
        min-height: fit-content;
    }

    form{
        max-width: 90dvw;
        height: auto;
        margin-block: 1em;
        gap: 1.5em;
        padding: 1.5em;
    }

    .twoFields{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 1em;
    }

    .twoRadios{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: none;
    }

    #message{
    height: 13em;
    }

    .checkBoxDiv label{
        margin-left: 1em;
    }

    .hidden{
        width: 80%;
        height: 50%;
        left: 10%;
    }

    .hidden h2{
        font-size: 2em;
    }

    .hidden p {
        font-size: 1.5em;
    }

    .okay{
        height: 4em;
        border: 1px solid;
        font-size: 1em;
    }

    .errorMsgCheck{
    bottom: -1.5em;
    font-size: .7em;
    right: 0;
}
    .errorMsgMsg{
        bottom: -1.5em;
    }

    .errorMsgMail{
        bottom: -1.5em;
    }



}



