@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    height: 100dvh;
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 42em;
    width: 40em;
    padding: 2em;
    border-radius: 1em;
    gap: 1em;
}


footer {
    position: fixed;
    bottom: 1em;
}

h1{
    margin: 0;
}

.twoFields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8em;
}

.twoRadios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8em;
    position: relative;
}

.field{
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label{
    position: relative;
    top: -.5em;
}

.query{
    border: 1px solid black;
    border-radius: .5em;
    padding: .9em;
    position: relative;
    margin-bottom: .5em;
}

.queryLabel {
    margin-left: .5em;
}

.checkBoxDiv{
    display: flex;
    align-items: center;
    position: relative;
}

#queryTypeLabel{
    position: relative;
    top: .5em;
}

#emailAdress, #firstName, #lastName{
    height: 3em;
    font-size: 1em;
    border-radius: .5em;
    border: 1px solid;
}

#emailAdress{
    border-radius: .5em;
    border: 1px solid;
    
}

#message{
    height: 7em;
    border-radius: .5em;
    resize: none;
    font-size: 1em;
}

#submit{
    height: 3em;
    border-radius: .5em;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-size: 1em;
    font-weight: 600;
}

#submit:hover{
    background-color: hsla(169, 82%, 27%, 0.769);
}

span{
    color: hsl(169, 82%, 27%);
}

/* ERROR Messages */

.errorMsgFirst {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgLast {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgMsg{
    position: absolute;
    top: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgQuery{
    position: absolute;
    top: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgMail{
    position: absolute;
    top: -1.5em;
    right: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.errorMsgCheck{
    position: absolute;
    top: -1.5em;
    color: red;
    font-size: 0.75em;
    display: none;
}


/* Footer */

.attribution{
    color: hsl(169, 82%, 27%);
}

.attribution a{
    text-decoration: none;
}



